.song-details-container-layout{
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
    width: auto;
    align-items: center;
}

.song-details-container-layout .songDetails{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 50%;
    padding: 20px;
}