.container-layout{
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
    width: auto;
}
.container-layout .tableAndPaginationAndLowerGraphs{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.container-layout .tableAndPaginationContainer{
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
}
.container-layout .tableContainer{
    overflow-x: scroll;
}
.chart-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: calc(35% - 10px);
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
}

.chart-container-top{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
}
.chart-container-top .chartChild{
    flex-basis: 33.33%;
    margin: auto;
}


.paginationButtonsContainer {
    display: flex;
    justify-content: center;
}
/* .paginationButtonsContainer .paginationButtonsInternal{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */

.paginationButtonsContainer .paginationButtonsInternal span{
    margin: 20px;
}