table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
  }
  
  thead th {
    text-align: left;
    border-bottom: 2px solid black;
  }

thead button::after{
    content: '\2195';
    display: inline-block;
    margin-left: 1em;
}
thead button.ascending::after {
    content: '\2193';
    display: inline-block;
    margin-left: 1em;
  }
  
  thead button.descending::after {
    content: '\2191';
    display: inline-block;
    margin-left: 1em;
  }

  thead button {
    border: 0;
    border-radius: none;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }